* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Ancizar Serif", serif;
  background-color: rgb(240, 242, 255);
}

h1 {
  color: #5603ad;
  /* text-align: center; */
  text-shadow: 0.08em 0.02em #d3bfe2;
  font-style: italic;
}

h2 {
  /* text-align: center; */
  font-style: italic;
}

h3 {
  /* text-align: center; */
  font-style: italic;
  text-align: center;
}

h4 {
  /* margin-left: 30%; */
  font-style: italic;
}

h5 {
  color: rgb(100, 8, 204);
  /* font-weight: bold; */
  /* font-size: 1.2em; */
  text-align: center;
}

h2, h3, h4 {
  color: rgb(100, 8, 204);
  text-shadow: 0.05em 0.03em rgb(240, 242, 255);
}

.mainSection {
  width: 100%;
  margin: 0;
}

.myPet {
  border-radius: 20em;
  box-shadow: 0 0 0.8em 0.3em #8253ce;
  border: solid rgb(227, 221, 238) 1px;
  padding: 0.1em;
  margin: 0.6em;
}

.titleMenu {
  display: flex;
}

.titleMenu,
footer {
  background-color: rgb(230, 225, 243);
}

.navMenu {
  background-color: #5603ad;
  border: solid rgb(227, 221, 238) 3px;
  box-shadow: 0.4em 0.1em 0.4em #8253ce;
  justify-content: space-around;
  position: fixed;
  margin-top: 0;
  padding: 0.3em;
  border-radius: 0.5em;
}

.navMenu ul {
  list-style: none;
  justify-content: space-around;
}

.navMenu a {
  text-decoration: none;
  color: rgb(137, 137, 247);
}

.navMenu ul {
  :hover {
    color: rgb(227, 221, 238);
    transform: translateY(-1px);
  }
}

.dogPhoto,
.dogPhoto1 {
  border-radius: 0.5em;
}

.dogPic {
  justify-content: space-around;
  display: grid;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
}

.dogPic li {
  border-radius: 0.5em;
  box-shadow: 0 0 0.8em 0.3em #8253ce;
  border: solid rgb(227, 221, 238) 3px;
  padding: 0.3em;
  list-style: none;
  display: flex;
  flex-direction: column-reverse; 
}

#Project_10,
#Project_1,
#Project_guess {
  background-color: rgb(240, 242, 255);
}

.dogSection,
.dogAbout,
.dogGuess {
  background-color: rgb(197, 182, 236);
}

.dogAbout,
.dogGuess {
  justify-content: center;
  border-radius: 0.5em;
  font-style: italic;
}

.dogAbout li {
  list-style: none;
}

.dogPhoto1 {
  box-shadow: 0 0 0.8em 0.3em #8253ce;
  border: solid rgb(227, 221, 238) 3px;
  padding: 0.3em;
  border-radius: 0.5em; 
}

.dogPhoto1 li {
  border-radius: 0.5em;
}

span {
  font-weight: bold;
}

#but_submit {
  background-color: #5603ad;
  border: solid rgb(227, 221, 238) 3px;
  border-radius: 1.5em;
  padding: 0.4em;
  font-size: 0.9em;
  margin-left: 35%;
}
#but_submit:hover {
  background-color:  #470391;
  transform: translateY(-1px);
}
#but_submit span {
  color: rgb(137, 137, 247); 
}

#linkGues {
  font-size: 1em;
  color: #470391;
}

footer {
  justify-items: center;
  font-size: 1.2em;
  margin-top: 1em;
  padding: 1em;
}
